
{% extends 'base.html' %}
{% load static %}
{% block content %}
    

<div class="container">
    <h1>API Rest Django</h1>


    <div class="subtext">
        <h2>Esta é uma página de testes, com fins estudantis. 
            Os objetos tratados são sobre autenticação oauth, afim de criar um sistema onde seja
            possível realizar o login utilizando redes sociais. <p></p>
            <br>
            Para maiores informações, consulte a página  "Infos" onde haverá uma explicação mais detalhada do projeto!
                <p></p>
                regards,
             </h2>
    </div>
</div>

<div class="butt">
   <a href="/accounts/login/"> <h2>LOGIN</h2></a>
</div>

{% endblock %}